body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  background-color: #100f0f;
  color: #f3f3f3;
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

button {
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 415px) {
  .container {
    max-width: 415px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1020px) {
  .container {
    max-width: 1020px;
    padding-left: 47px;
    padding-right: 47px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
    margin: 0 auto;
  }
}

/* HEADER */

.header {
  padding-top: 12px;
  padding-bottom: 12px;
  background-image: linear-gradient(270deg, #6f6666 0%, #100f0f 100%);
}

.mob-header {
}
.mob-header-nav {
  display: flex;
  justify-content: space-between;
}
.logo-mob {
  fill: #f3f3f3;
}
.mob-menu-btn {
  background-color: transparent;
  border: none;
}
.mob-menu-icon {
  stroke-width: 1px;
  stroke: #f3f3f3;
}

.tablet-header {
  display: none;
}

/* HERO */

.hero {
  padding-top: 40px;
  padding-bottom: 39px;
}

.hero-mob-wrap {
  display: flex;
}

.hero-title {
  font-weight: 500;
  font-size: 30px;
  max-width: 182px;
  border-left: 1px solid #f3f3f3;
  padding-left: 8px;
  margin-bottom: 16px;
}

.hero-subtitle {
  font-weight: 400;
  font-size: 16px;
  width: 200px;
}

.hero-sub-span {
  letter-spacing: -0.01em;
}
.hero-span {
  font-weight: 600;
  color: #bc1a1a;
}
.hero-img {
  margin-bottom: 24px;
}

.hero-tab-img {
  display: none;
}

.hero-btn {
  border-radius: 16px;
  padding: 21px 148px;
  width: 384px;
  height: 66px;
  background-color: rgba(188, 26, 26, 0.2);
  font-size: 20px;
  color: #f3f3f3;
  border: none;
  margin-bottom: 16px;
}

.hero-text-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.text-1-wrap {
  display: flex;
  align-items: center;
  padding-right: 22px;
}

.hero-text-span {
  padding-right: 12px;
  font-size: 32px;
}

.text-2-wrap {
  display: flex;
  align-items: center;
  border-left: 1px solid #f3f3f3;
  padding-left: 22px;
}

.hero-text-2 {
}
.hero-soc-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.hero-soc-item {
}
.hero-soc-link {
}
.hero-soc-icon {
  stroke: #f3f3f3;
  fill: #f3f3f3;
}

/* PRODUCTS */

.Products {
  padding-top: 108px;
  padding-bottom: 108px;
}

.up-wrap {
  display: flex;
  justify-content: center;
}

.prod-up-btn {
  background-color: transparent;
  border: none;
}
.prod-up-icon {
  fill: #f3f3f3;
  flex-shrink: 0;
  align-self: center;
}

.prod-1-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.prod-1-img {
  flex-shrink: 0;
  width: 156px;
  height: 156px;
}

.prod-1-text-wrap {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-direction: column;
}

.prod-title {
  font-weight: 700;
  font-size: 20px;
}

.prod-tab-text {
  display: none;
}

.prod-2-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.prod-2-text-wrap {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-direction: column;
}

.prod-btn {
  border-radius: 8px;
  padding: 4.5px 18.5px;
  width: 108px;
  height: 29px;
  background-color: rgba(188, 26, 26, 0.2);
  font-weight: 400;
  font-size: 16px;
  color: #f3f3f3;
  border: none;
}
.prod-2-img {
  flex-shrink: 0;
  width: 156px;
  height: 156px;
}

.down-wrap {
  display: flex;
  justify-content: center;
}

.prod-down-btn {
  background-color: transparent;
  border: none;
}
.prod-down-icon {
  fill: #f3f3f3;
}

/* RECIPES */

.Recipes {
  padding-top: 20px;
  padding-bottom: 100px;
}

.rec-wrap-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 40px;
}

.rec-1-video {
  position: relative;
  margin-bottom: 8px;
}

.rec-1-video-tab {
  display: none;
}

.rec-1-video-desk {
  display: none;
}

.rec-1-btn {
  position: absolute;
  /* bottom: -14%;
  left: 58%; */
  background-color: rgba(243, 243, 243, 0.9);
  border-radius: 94px;
  width: 70px;
  height: 70px;
  border: none;
  transform: translate(-120%, 120%);
}

.play-icon {
  margin: 25px 25px;
}

.rec-text {
  font-weight: 400;
  font-size: 20px;
  margin-right: 55px;
}

.rec-wrap-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rec-2-btn {
  position: absolute;
  transform: translate(120%, 120%);
  background-color: rgba(243, 243, 243, 0.9);
  border-radius: 94px;
  width: 70px;
  height: 70px;
  border: none;
}

.rec-text-2 {
  font-weight: 400;
  font-size: 20px;
  margin-left: 41px;
}

/* GALLERY */

.Gallery {
  padding-top: 32px;
  padding-bottom: 132px;
}

.gallery-wrap {
  display: flex;
  gap: 13px;
  margin-bottom: 4px;
}
.gal-left-btn {
  border: none;
  background-color: transparent;
}
.gal-left-icon {
  fill: #f3f3f3;
}
.gal-img-1 {
}
.gal-right-btn {
  border: none;
  background-color: transparent;
}
.gal-right-icon {
  fill: #f3f3f3;
}
.gal-points-btn {
  display: flex;
  border: none;
  background-color: transparent;
  margin: 0 auto;
}
.gal-points-icon {
  fill: #6f6666;
}

/* FOOTER */

.footer {
  padding-top: 20px;
  padding-bottom: 1px;
}

.logo-link {
}
.logo-ftr {
  fill: #f3f3f3;
  /* margin-bottom: 44px; */
}
.ftr-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-contacts-wrap {
}

.ftr-menu-list {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 32px;
}
.ftr-menu-item {
}
.ftr-menu-link {
}
.ftr-soc-list {
}
.ftr-soc-item {
  margin-bottom: 24px;
}
.ftr-soc-link {
}
.ftr-soc-icon {
  fill: #f3f3f3;
}
.contacts {
  font-style: normal;
}
.contacts-list {
}
.contacts-item {
}
.contacts-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}
.contacts-icon {
  fill: #f3f3f3;
}
.contacts-link {
}
.policy-text {
  font-size: 8px;
  line-height: 2.12;
  color: #979797;
  text-align: center;
}
.service-link {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
}
.privacy-link {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
}

/* TABLET */

@media screen and (min-width: 1020px) {
  .container {
    max-width: 1020px;
    padding-left: 47px;
    padding-right: 47px;
    margin: 0 auto;
  }

  .mob-header {
    display: none;
  }

  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .tablet-header {
    display: unset;
  }

  .tablet-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo-link {
  }
  .logo-mob {
  }
  .talet-menu-list {
    display: flex;
    gap: 52px;
  }
  .tab-item {
  }
  .tab-menu-link {
    font-weight: 600;
  }
  .tab-btn {
    border: 1px solid #f3f3f3;
    border-radius: 16px;
    width: 160px;
    height: 40px;
    font-weight: 800;
    background-color: transparent;
    color: #f3f3f3;
  }

  .hero {
    padding-top: 32px;
    padding-bottom: 31px;
  }

  .hero-img {
    display: none;
  }

  .hero-tab-wrap {
    display: flex;
    align-items: center;
  }

  .hero-title {
    font-size: 64px;
    max-width: 388px;
    margin-bottom: 24px;
    /* margin-top: 70px; */
  }

  .hero-subtitle {
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 48px;
    width: 447px;
  }

  .hero-btn {
    font-weight: 500;
    font-size: 30px;
    width: 302px;
    height: 77px;
    margin-bottom: 48px;
    padding: 20px 84px;
  }

  .hero-text-wrap {
    display: flex;
    justify-content: start;
    margin-bottom: 24px;
  }

  .hero-tab-img {
    display: unset;
    margin-bottom: 54px;
  }

  .prod-tab-text {
    display: unset;
    max-width: 406px;
  }

  .tab-text-2 {
    max-width: 443px;
  }

  .prod-1-img {
    width: 349px;
    height: 349px;
  }

  .prod-2-img {
    width: 349px;
    height: 349px;
  }

  .prod-1-text-wrap {
    align-items: flex-start;
  }

  .prod-2-text-wrap {
    align-items: flex-start;
  }

  .prod-btn {
    width: 202px;
    height: 43px;
  }

  .prod-title {
    font-weight: 600;
    font-size: 32px;
  }

  .rec-tab-wrap {
    display: flex;
    gap: 30px;
  }

  .rec-1-video {
    display: none;
  }

  .rec-1-video-tab {
    display: unset;
    position: relative;
    margin-bottom: 16px;
  }

  .rec-text {
    margin-right: 0;
  }

  .rec-text-2 {
    margin-left: 0;
  }
  .tab {
    position: relative;
    align-items: center;
  }

  .rec-1-btn {
    position: absolute;

    transform: translate(-50%, -50%);
    top: 45%; /* Відцентрувати вертикально */
    left: 50%; /* Відцентрувати горизонтально */
  }

  .rec-2-btn {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%; /* Відцентрувати вертикально */
    left: 50%; /* Відцентрувати горизонтально */
  }

  .gallery-wrap {
    gap: 42px;
  }

  .policy-text {
    font-size: 14px;
    line-height: 1.21;
  }
}

/* DESKTOP */

@media screen and (min-width: 1280px) {
  .rec-1-video-desk {
    display: unset;
    margin-bottom: 16px;
  }

  .rec-1-video-tab {
    display: none;
  }

  .rec-tab-wrap {
    gap: 100px;
  }

  .gallery-wrap {
    gap: 35px;
  }
}
