body {
  font-family: ;
  font-style: normal;
  background-color: ;
  color: ;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: ;
  padding-left: ;
  padding-right: ;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.title {
  font-weight: ;
  font-size: ;
  line-height: ;
  color: ;
}

button {
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1020px) {
  .container {
    max-width: 1020px;
    padding-left: 47px;
    padding-right: 47px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 12800px) {
  .container {
    max-width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
    margin: 0 auto;
  }
}

/* HEADER */

/* HERO */

.hero {
  padding-top: ;
  padding-bottom: ;
}

/*  */

/*  */

/*  */
