body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  background-color: #100f0f;
  color: #f3f3f3;
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

button {
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 415px) {
  .container {
    max-width: 415px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1020px) {
  .container {
    max-width: 1020px;
    padding-left: 47px;
    padding-right: 47px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
    margin: 0 auto;
  }
}

/* HEADER */

.header {
  padding-top: 12px;
  padding-bottom: 12px;
  background-image: linear-gradient(270deg, #6f6666 0%, #100f0f 100%);
}

.mob-header {
}
.mob-header-nav {
  display: flex;
  justify-content: space-between;
}
.logo-mob {
  fill: #f3f3f3;
}
.mob-menu-btn {
  background-color: transparent;
  border: none;
}
.mob-menu-icon {
  stroke-width: 1px;
  stroke: #f3f3f3;
}

.tablet-header {
  display: none;
}

/* HERO */

.hero {
  padding-top: ;
  padding-bottom: ;
}

/*  */

/*  */

/*  */

/* TABLET */

@media screen and (min-width: 1020px) {
  .container {
    max-width: 1020px;
    padding-left: 47px;
    padding-right: 47px;
    margin: 0 auto;
  }

  .mob-header {
    display: none;
  }

  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .tablet-header {
    display: unset;
  }

  .tablet-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo-link {
  }
  .logo-mob {
  }
  .talet-menu-list {
    display: flex;
    gap: 52px;
  }
  .tab-item {
  }
  .tab-menu-link {
    font-weight: 600;
  }
  .tab-btn {
    border: 1px solid #f3f3f3;
    border-radius: 16px;
    width: 160px;
    height: 40px;
    font-weight: 800;
    background-color: transparent;
    color: #f3f3f3;
  }
}

/* DESKTOP */

@media screen and (min-width: 1280px) {
}
